---
import Layout from "../layouts/Layout.astro";

import { Feature, getFeatures } from "../library/microcms";
const response = await getFeatures({ fields: ["id", "title"] });
---
<meta lang="ja">
<Layout title="sample docs">
  <main>
    <ul>
      {
        response.contents.map((feature: Feature) => (
          <li>
            <a href={`/features/${feature.id}`}>{feature.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>